
<%-include('../partials/header')%>
<body class="eatsPage">
 <h1>Hey, <%= user ? user.name : "friend" %> let's try this <%= title %> !</h1>



<div class= "tabsEats">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
   
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Reviews for <%=location.placename%> </a>
      </li>  
  
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><%=location.placename%> Website</a>
      </li> 
          <li class="nav-item" role="presentation">
        <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Experience <%=location.placename%> </a>
      </li> 
    </ul>
    
    <div class="tab-content">
      <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div> 

          <!-- Location details -->
          <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="settings-tab">
            <div id="recipeDisplay">
            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="container"></div>
                  <div class="container">
                    <h1 id="headerRecipes" class="display-4">Reviews for <%=location.placename%> </h1>
                        <h4 class="recipeDisplay">Read about the experiences of other families at <%=location.placename%></h4>
                    <h4 class="recipeDisplay">Leave a review for the <%=location.placename%></h4>
                    <br>
                             
                    <form action="/explorations" method="POST">
                      <textarea name="content" row="4" style="width: 18rem;" placeholder="Please review your experience at <%=location.placename%>"></textarea> <br>
                      <label for="reviewRating">Rating: </label>
                      <input type="radio" id="reviewRating" name="rating" value="Would recomment">Would highly recommend 👍  
                      <input type="radio" id="reviewRating" name="rating" value="May visit again">Would consider going back 
                      <input type="radio" id="reviewRating" name="rating" value="Would not recommend">Would not recommend 👎 <br>
                      
                      <input type="text" hidden name="reviewer" value="<%=user%>">
                    

                    
          
                      <button type="submit">Submit Review</button>
                      </form>
        
                      
             
                       <%if (location.length){%>  
      
                        
  
                       
                       <%} else {%>
               <br><h5 class="reviews"> Be the first to review  </h5> 
               <%}%>
             </div>
        
        </div>
            </div>
        </div>


      <!-- Attraction Website Display  -->
      <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="list-group">
              <div id="recipeDisplay" class="jumbotron jumbotron-fluid">
                  <div class="container">
                    <h1 id="headerRecipes" class="display-4">Research Assignment: <%=location.placename%> </h1>
                    <h4 class="recipeDisplay">Check out their website before dining </h4>
                    <p class="lead">
                     
                     <a href="<%=location.placeurl%>"><h1><%=location.placeurl%></h1></a>
                    
                    </p>
                  </div>
                </div>
        </div>
    </div>

             
 <!-- Review for location -->
 <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="messages-tab">
  <div class="list-group">
      <div id="recipeDisplay" class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 id="headerRecipes" class="display-4">Reviews for <%=location.placename%> </h1>

            <h4 class="recipeDisplay">Read about the experiences of other families at <%=location.placename%></h4>
            <br>
                     
            
          

                <%if (location.reviews.length){%> 
                 
    <% location.reviews.forEach(function(review){%>
     
              <h1><%review.rating%></h1>
                                   <%})%>  


                 <%} else {%>
         <br><h5 class="reviews"> Be the first to review  </h5> 
         <%}%>


                </div>
                      
          </div>
        </div>
</div>
</div>
    

</div>
</div>
    


<%-include('../partials/footer')%>

<script>
    $('.dropdown-toggle').dropdown()
</script>
<script>
    $(function () {
      $('#myTab li:last-child a').tab('show')
    })
  </script>

</body>