<%-include('../partials/header')%>

<body class="locationsPage">
 <h1>Ready for some <%= title %>, <%= user ? user.name : "friend" %>?</h1>


 <style>
  table {
    border-spacing: 0;
    width: 100%;
    border: 10px solid green;
    margin-top: 150px;
  }
  
  th {
    cursor: pointer;
    border-bottom: ivory 10px solid;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: orange
  }
  </style>
  </head>
  <body>
  

  
  <table id="myTable">
    <tr>
     <!--When a header is clicked, run the sortTable function, with a parameter, 0 for sorting by names, 1 for sorting by country:-->  
      <th onclick="sortTable(0)">Attraction Name</th>
      <th onclick="sortTable(1)">Closest City</th> 
      <th onclick="sortTable(2)">State</th>
      <th onclick="sortTable(3)">Appropriate for Ages</th>
      <th onclick="sortTable(4)">Attraction Type</th>
    </tr>
     
    <% locations.forEach(function(location){%> 

      <td><a href="/explorations/<%=location._id%>"><%=location.placename%></a></td>
      <td><%=location.placelocality%></td>
      <td><%=location.state%></td>
      <td><%=location.age%></td>
      <td><%=location.locationType%></td>
      
    </tr>
  <%})%>  
  </table>
 
  <br><br>
 
  <span ><h4 class="addRecommendation">Thank you for entrusting us with your recommendation and allowing us to continue our efforts to create a resource for families with kids!</span>
   <% if (user) {%>
 </h4><h3><p> Add a recommendation </p></h3><br>
    <a href="/eats/recipes"><button class="add">Add Restaurant</button></a>
 
    <%} else{%>
    
 
    <p class="mealsLogin"></p><%= user ? user.name : "friend" %>, login in below to a add your recommendation to the list!</p>
 
    <div class="loginAccount">
        <a id="google" class="googleAccount" href="/auth/google">
           <img height= 200 width= 200 id= "login" class= "googleAccount" src="https://i.imgur.com/pFhNdoN.png"></a>
 <%}%>
 </div>
 
 
 <%-include('../partials/footer')%> 
 
  <script>
  function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("myTable");
    switching = true;
    //Set the sorting direction to ascending:
    dir = "asc"; 
    /*Make a loop that will continue until
    no switching has been done:*/
    while (switching) {
      //start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /*Loop through all table rows (except the
      first, which contains table headers):*/
      for (i = 1; i < (rows.length - 1); i++) {
        //start by saying there should be no switching:
        shouldSwitch = false;
        /*Get the two elements you want to compare,
        one from current row and one from the next:*/
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /*check if the two rows should switch place,
        based on the direction, asc or desc:*/
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /*If a switch has been marked, make the switch
        and mark that a switch has been done:*/
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        //Each time a switch is done, increase this count by 1:
        switchcount ++;      
      } else {
        /*If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again.*/
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
  </script>


<script>
    $('.dropdown-toggle').dropdown()
</script>
<script>
    $(function () {
      $('#myTab li:last-child a').tab('show')
    })
  </script>

</body>