<%-include('../partials/header')%>
<body class="locationsPage">
    <h1 class="placeLogin">Ready to add a great <%= title %>, <%= user ? user.name : "friend" %>?</h1>

     <% if (user) {%>    
        <form class="recipeForm" action="/explorations" method="POST">
           
            <input hidden type="text" name="name" value="<%=user%>">

            <div class="mb-4">
                <label for="inputEmail4" class="form-label">Attraction/ Location Name</label>
                <input name="placename" type="text" class="form-control" id="inputEmail4" placeholder="The National Zoo">
              </div>
              <div class="mb-4">
                <label for="exampleFormControlInput1" class="form-label">Attraction/Location Website</label>
                <input name="placeurl" type="url" class="form-control" id="exampleFormControlInput1" placeholder="http://locationwebsitehere.com">
              </div>
              <div class="mb-4">
              <label for="inputAddress2" class="form-label">Closest City</label>
              <input name="placelocality" type="text" class="form-control" id="inputAddress2" placeholder="DC metro area">
            </div>
            <div class="mb-4">
              <label for="inputAddress" class="form-label">Attraction/Location Address</label>
              <input name="placeaddress" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="mb-4">
              <label for="inputCity" class="form-label">City</label>
              <input name="placecity" type="text" class="form-control" id="inputCity" placeholder="City">
            </div>
            <div id="state" class=" md-3">
              <label for="inputState" class="form-label">State</label>
              <select name="state" id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option value="al">Alabama</option>
                <option value="ak">Alaska</option>
                <option value="az">Arizona</option>
                <option value="ar">Arkansas</option>
                <option value="ca">California</option>
                <option value="co">Colorado</option>
                <option value="ct">Connecticut</option>
                <option value="de">Delaware</option>
                <option value="dc">District of Columbia</option>
                <option value="fl">Florida</option>
                <option value="ga">Georgia</option>
                <option value="hi">Hawaii</option>
                <option value="id">Idaho</option>
                <option value="il">Illinois</option>
                <option value="ia">Iowa</option>
                <option value="ks">Kansas</option>
                <option value="ky">Kentucky</option>
                <option value="la">Louisiana</option>
                <option value="me">Maine</option>
                <option value="md">Maryland</option>
                <option value="ma">Massachusetts</option>
                <option value="mi">Michigan</option>
                <option value="mn">Minnesota</option>
                <option value="ms">Mississippi</option>
                <option value="mo">Missouri</option>
                <option value="mt">Montana</option>
                <option value="ne">Nebraska</option>
                <option value="nh">New Hampshire</option>
                <option value="nj">New Jersey</option>
                <option value="nm">New Mexico</option>
                <option value="ny">New York</option>
                <option value="nc">North Carolina</option>
                <option value="nd">North Dakota</option>
                <option value="oh">Ohio</option>
                <option value="ok">Oklahoma</option>
                <option value="or">Oregon</option>
                <option value="pa">Pennsylvania</option>
                <option value="ri">Rhode Island</option>
                <option value="sc">South Carolina</option>
                <option value="sd">South Dakota</option>
                <option value="tn">Tennessee</option>
                <option value="tx">Texas</option>
                <option value="ut">Utah</option>
                <option value="vt">Vermont</option>
                <option value="wa">Washington</option>
                <option value="wv">West Virginia</option>
                <option value="wi">Wisconsin</option>
                <option value="wy">Wyoming</option>
                <optgroup label="US Territories"></optgroup>
                <option value="as">American Samoa</option>
                <option value="gu">Guam</option>
                <option value="pr">Puerto Rico</option>
                <option value="vi">Virgin Islands</option>
              </select>
            </div>
            <div class="mb-4">
              <label for="inputZip" class="form-label">Zip Code</label>
              <input name="placezipcode" type="text" class="form-control" id="inputZip" placeholder="ZIP Code">
            </div>
            <div id="state" class=" md-3">
                <label for="inputState" class="form-label">Appropriate for Ages</label>
                <select name="age" id="inputState" class="form-select" multiple onchange="showSelectedOptions(this.options)">
                  <option value="expecting parents">Expecting Parents</option>
                  <option value="newborns">Newborns</option>
                  <option value="infant">Infants</option>
                  <option value="toddlers">Toddlers</option>
                  <option value="preschoolers">Preschoolers</option>
                  <option value="schoolage">School-Ages</option>
                  <option value="preteen">Preteen</option>
                  <option value="teenagers">Teenagers</option>
                  <option value="college">College-Age/Adult</option>
                 </select>
            </div>
            <div>
                <label>Attraction Type</label>
                <select name="locationType" id="inputState" class="form-select" multiple onchange="showSelectedOptions(this.options)">
                    <optgroup label="Natural Attractions">
                        <option value="National Park">National Park</option>
                        <option value="Beaches">Beach</option>
                        <option value="Caves">Cave</option>
                        <option value="Mountains">Mountains</option>
                        <option value="Hills">Hills</option>
                        <option value="Waterfalls">Waterfalls</option>
                        <option value="Islands">Island</option>
                        <option value="Forests">Forest</option>
                    </optgroup>
                    <optgroup label="Tourist Attractions">
                        <option value="Entertainment Park">Entertainment Park</option>
                        <option value="Wildlife ">Wildlife</option>
                        <option value="Aquarium">Aquarium</option>
                        <option value="Botantical Garden">Botanical Garden</option>
                        <option value="Museum">Museum</option>
                        <option value="Art Gallery">Art Gallery</option>
                        <option value="Historical or Heritage">Historical or Hertiage</option>
                    </optgroup>
                    <optgroup label="Sports Attractions">
                        <option value="Spectating Sports Atrraction">Spectating Sports Atrraction</option>
                        <option value="Participating Sports Attraction">Participating Sports Attraction</option>
                        <option value="Stadium Tour">Stadium Tour</option>
                    </optgroup>
                    <optgroup label="Special Events">
                        <option value="Market">Market</option>
                        <option value="Festivals">Festival</option>
                        <option value="Parade">Parade</option>
                        <option value="Exhibitions">Exhibitions</option>
                        <option value="Entertainment Venue">Entertainment Venue</option>
                    </optgroup>

            </div>
            <div class="mb-5">
              <div id= "contactMessage" class="form-check">
                <div class="mb-4">
                    <label for="exampleFormControlTextarea1" class="form-label">Top Attraction(s)</label>
                    <textarea name="highlights" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Has 5 rides for children under 34 inches tall"></textarea>
                  </div>
              </div>
            </div>
            <div class="col-12">
              <button id= "placesBtn" type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
    
    
          <span ><h4 class="addRecommendation">Thank you for entrusting us with your recommendation and allowing us to continue our efforts to create a resource for families with kids!</span>
           
         
          
             <%} else{%>
             
          
             <p class="placeLogin"></p><%= user ? user.name : "friend" %>, login in below to a add your recommendation to the list!</p>
          
             <div class="loginAccount">
                 <a id="google" class="googleAccount" href="/auth/google">
                    <img height= 200 width= 200 id= "login" class= "googleAccount" src="https://i.imgur.com/pFhNdoN.png"></a>
          <%}%>
          </div>
          









<%-include('../partials/footer')%>

<script>
    $('.dropdown-toggle').dropdown()
</script>


</body>