<%-include('../partials/header')%>
<body class="messagePage">
 <h1><%= title %></h1>

 <h1 class="homePage">hello, <%= user ? user.name : "friend" %>!</h1>

 <style>
   .messagePage h1{
     color: black;
   }
   #avatarPhoto{
     border-radius: 100% ;
     
   }

 </style>
 
  
 <form action="/messageboard" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" aria-describedby="message" name="title" placeholder="Enter message...">
    </div>
    <button type="submit"  class="btn btn-success">Create Post</button>
  </form>
 

 <% messages.forEach(message=>{%>
   <div class="messageboard"> 
       <%=message.postedBy%><br><img id="avatarPhoto" src="<%=message.avatar%>"> <div><h3><%=message.title%></h3><%=message.createdAt.toLocaleString()%></div>
   <form action="/messageboard/<%=message._id%>" method="GET">
    <button id="message" type="submit">See Post</button>
</form>
   </div>

 <%})%>





   





<%-include('../partials/footer')%>
<script>
    $('.dropdown-toggle').dropdown()
</script>

</body>
