<%-include('../partials/header')%>
<body class="locationsPage">



                    <h1 id="headerRecipes" class="display-4">Reviews </h1>
                    <h4 class="recipeDisplay">Read about the experiences of other families at , wanna share your experience? Leave a review below: </h4>
              
                <br>
                         
                <form action="/reviews " method="POST">
                  <labal>Title</labal>
                  <input name="title" type="text" placeholder="Title of review...">
                  <label>Location Name</label>
                  <input name="location" type="text" placeholder="Location Name..."><br>
                  <textarea name="content" row="4" style="width: 18rem;" placeholder="Please review your experience at "></textarea> <br>
                  <label for="reviewRating">Rating: </label>
                  <input type="radio" id="reviewRating" name="rating" value="Would recommend">👍 Would highly recommend  
                  <input type="radio" id="reviewRating" name="rating" value="May visit again">Would consider going back 
                  <input type="radio" id="reviewRating" name="rating" value="Would not recommend">Would not recommend 👎 <br>
                  

                
      
                  <button id="reviews" type="submit">Submit Review</button>
                  </form>
    

                    
                      <%if (reviews.length){%>
                   
                      <%reviews.forEach((review) =>{%> 
                     
                        <div class="reviewLocation">
                           
                          <div> <h2><strong><%=review.title%></strong></h2><h5><%=review.rating%></h5></div>
                          
                         <h4><%=review.content%></h4> 
                         
                        <h5>Posted by:<%=review.postedBy%></h5>
                        <h6><%=review.Createdat.toLocaleString()%></h6>

                        </div>
                      <%})%>
                   <%} else {%>
           <br><h5 class="reviews"> Be the first to review  </h5> 
           <%}%>
         </div>


<%-include('../partials/footer')%>

<script>
    $('.dropdown-toggle').dropdown()
</script>
<script>
    $(function () {
      $('#myTab li:last-child a').tab('show')
    })
  </script>

</body>