<%-include('../partials/header')%>
<body class="accountPage">
 <h1><%= title %></h1>
 
 <h1 class="accountPage">hello, <%= user ? user.name : "friend" %>!</h1>
    
<div id="formAccount">
    <div id="profilePicture">
      
        <h4 class="account">Joined:</h4><div class="account"><%= users.createdAt.toLocaleString().split(',')[0]%></div> 
        <img id="profilePic" height="200"  src="<%=users.avatar ? users.avatar : 'https://i.imgur.com/VgK9N5f.png' %>"><br><h4 class="account"><%=users.parent%></h4>
     
        <form method="POST" action="/playground/<%=users._id%>?_method=DELETE">
          <div class="account"><button  class= "deletePage" type="submit" >Delete Account</button></div> 
        </form>
   </div>

 <% if(user){ %> 
  <div id="profileInfo">
        <div id="profile">
             <table class="accountTable">
            <tbody>
            <tr>
                <th><h4>Email:</h4><td><%=users.email%></td></th>
            </tr>
            <tr>
                <th><h4>Phone Number: </h4><td><%=users.phone%></td></th>
            </tr>
            <tr>
                <th><h4> Closest City:</h4> <td><%=users.locality%></td></th>
            </tr>
            <tr>
                <th><h4> State: </h4><td><%=users.state%> </td></th>
            </tr>
        </tbody>   
        </table>
        
        <br>
          
        <h4 class="bio">About You:</h4>  <h5 class="bio"><%=users.bio%></h5>
       
     
    </div>

    </div>
 
</div >
<div class="buttonAccount">
<a href="/playground"><button id="updateButton" class="accountPage">Back</button></a>

<%if(user){%>  
    
    <a  href="/playground/<%=users._id%>/update"><button class= "accountPage" id="updateButton" type="submit" >Update Account</button></a> 

    <%} else{%> 

    <%}%>
 
</div>


 

    
<% } else{%>
     <!-- Not Logged In -->
     <h1 class="accountPage">hello, <%= user ? user.name : "friend" %> login below!</h1>
     <div class="loginAccount">
    <a id="google" class="googleAccount" href="/auth/google">
       <img height= 200 width= 200 id= "login" class= "googleAccount" src="https://i.imgur.com/pFhNdoN.png"></a>
    <%}%> 
    
       </div>

 <%-include('../partials/footer')%>

<script>
    $('.dropdown-toggle').dropdown()
</script>

</body>