<%-include('../partials/header')%>
<body class="playgroundPage">

 <div class="play">
<h1 class="playgroundPage">Welcome to the Playground, <%= user ? user.name : "friend" %>!</h1>

    <% users.forEach(function(user){%>
     <div class="playground">
        <ul class="userInfo"><h3 class="playground"><%=user.name%></h3>Playing since <%=user.createdAt.toLocaleString().split(',')[0]%></ul><a href ="/playground/<%=user._id%>" ><img height="200" width="200" id=avatar src="<%=user.avatar ? user.avatar :'https://i.imgur.com/VgK9N5f.png' %>"><ul><button class="playground" type="button" >Account Settings</button></ul></a>
    </div>
   <% })%>


  
 <%-include('../partials/footer')%>
</div>
 <script>
     $('.dropdown-toggle').dropdown()
 </script>
 
 </body>