<%-include('../partials/header')%>
<body class="accountPage">
 <h1><%= title %></h1>
 
<h1 class="accountPage">hello, <%= user ? user.name : "friend" %>!</h1>
<form class="acccountUpdate" method="POST" action="/account/<%=user._id%>?_method=PUT">
   <div id="formAccount">
    <div id="profilePicture">
        <img id="profilePic" height="200"  src="<%=user.avatar%>"><br>
        <input type="file" id="userImage" name="image" value="<%=user.avatar%>" >
    </div>
   <div id="profileInfo">
        <div id="profile">
            <h2>Profile:</h2><h4><%=user.name%></h4>
            <h2>Phone:</h2><h4><%=user.phoneNumber%></h4>
            <!-- <input type="text" id="userPhone" name="phoneNumber" placeholder= "000-000-0000" value="<%=user.phoneNumber%>" > -->
            <h2>Email:</h2><h4><%=user.email%></h4>
            <h2>Bio:</h2><h4><%= user.bio%></h4>
            <!-- <input type="text" id="userBio" name="bio" value="<%=user.bio%>" >
            <br> -->
        <!-- <button type="submit" name="_method" value="Update Profile">Update Profile</button> -->
    </div>
</div>
</div>
</form>
</body>
 

    
   
    
       

 <%-include('../partials/footer')%>

<script>
    $('.dropdown-toggle').dropdown()
</script>

</body>