<%-include('../partials/header')%>
<body class="accountPage">
 <h1><%= title %></h1>
 
      

 
<h1 class="accountPage">hello, <%= user ? user.name : "friend" %>!</h1>
<form class="acccountUpdate" method="POST" action="/playground/<%=users._id%>?_method=PUT">
   <div id="formAccount">
    <div id="profilePicture">
        <img id="profilePic" height="200"  src="<%=users.avatar ? users.avatar : 'https://i.imgur.com/VgK9N5f.png' %>"><br>
        <button class= "accountPage" type="submit" >Update Profile</button>
    </div>
   <div id="profileInfo">
        <div id="profile">
            <h2>Profile:</h2><h4><%=users.name%></h4>
            <h2>Email:</h2><h4><%=users.email%></h4>
            <input type="email" name="email" value="<%=users.email%>">
            <h2>Joined:</h2><h4><%= users.createdAt.toLocaleString().split(',')[0]%></h4>
            <br>
                <h2>About You:</h2><h4 class="bio" ><%=users.bio%></h3>
            <textarea rows="4" name="bio"><%=users.bio%></textarea> 
        
       
    </div>
</div>
</div>
</form>
<a href="/playground/<%=users._id%>"><button class="playground">Account Details</button></a>
</body>
 

    
   
    
       

 <%-include('../partials/footer')%>

<script>
    $('.dropdown-toggle').dropdown()
</script>

</body>