
<%-include('../partials/header')%>
<body class="restaurantPage">
 <h1>Hey, <%= user ? user.name : "friend" %> let's try this <%= title %> !</h1>

 <div class= "tabsEats">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
   
   
          <li class="nav-item" role="presentation">
        <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Experience <%=rest.name%> </a>
      </li> 
    </ul>
    
    <div class="tab-content">
      <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div> 


        <!-- Restaurant details -->
        <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="settings-tab">
            <div id="recipeDisplay">
            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="container">
                   
                  <h1 id="headerRecipes" class="display-4"> <%=rest.name%> </h1>
                    <h4 class="recipeDisplay">Interested in trying out the <%=rest.name%>? Details below: </h4><br>

                    <h4>Service: <%=rest.service%></h4><br>

                    <h4><%=rest.address%></h4>
                    <h4><%=rest.addressTow%></h4>
                    <h4><%=rest.city%>, <%=rest.state%> <%=rest.zipcode%></h4>
                    <h4><%=rest.name%> Website: <%=rest.url%></h4>
                    <br>
                    <p>This restaurant offers the follow : <%=rest.features%></p>
                   
                
        
                    <h4 class="recipeDisplay">Wanna review <%=rest.name%>?  </h4>
                    <a href=/reviews><button class="toReviews">Review Here</button></a> 
                     
                    <br>
        
             </div>
        
        </div>
            </div>
        </div>
             

</div>
</div>
    

<%-include('../partials/footer')%>

<script>
    $('.dropdown-toggle').dropdown()
</script>
<script>
    $(function () {
      $('#myTab li:last-child a').tab('show')
    })
  </script>

</body>