<%-include('../partials/header')%>
<body class="restaurantPage">
    <h1>Ready to add a great <%= title %>, <%= user ? user.name : "friend" %>?</h1>
 <% if (user) {%>    
    <div class="restaurantForm">
    <form class= "restaurantForm" action="/restaurants" method="POST">
    <div class="restFormTop">
        <div class="mb-4">
            <label for="inputEmail4" class="form-label">Restaurant</label>
            <input name="name" type="text" class="form-control" id="inputEmail4" placeholder="Name of restaurant">
          </div>
          <div class="mb-4">
            <label for="exampleFormControlInput1" class="form-label">Restaurant Website</label>
            <input type="url" name="url" class="form-control" id="exampleFormControlInput1" placeholder="http://websitehere.com">
          </div>
          <div class="col-50">
            <label for="inputAddress2" class="form-label">Closest Metro City</label>
            <input type="text" name="locality" class="form-control" id="inputAddress2"  placeholder="Atlanta, DC, NYC...">
          </div>
        <div class="col-50">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" name="address" placeholder="1234 Main St">
        </div>
        <div class="col-50">
          <label for="inputAddress2" class="form-label">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" name="addressTwo" placeholder="Apartment, studio, or floor">
        </div>
    </div>
        <div class="col-md-20">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" name="city" id="inputCity" placeholder="City">
        </div>
        <div id="state" class=" md-5">
          <label for="inputState" class="form-label">State</label>
          <select  id="inputState" class="form-select" name="state">
            <option selected>Choose...</option>
            <option value="al">Alabama</option>
            <option value="ak">Alaska</option>
            <option value="az">Arizona</option>
            <option value="ar">Arkansas</option>
            <option value="ca">California</option>
            <option value="co">Colorado</option>
            <option value="ct">Connecticut</option>
            <option value="de">Delaware</option>
            <option value="dc">District of Columbia</option>
            <option value="fl">Florida</option>
            <option value="ga">Georgia</option>
            <option value="hi">Hawaii</option>
            <option value="id">Idaho</option>
            <option value="il">Illinois</option>
            <option value="ia">Iowa</option>
            <option value="ks">Kansas</option>
            <option value="ky">Kentucky</option>
            <option value="la">Louisiana</option>
            <option value="me">Maine</option>
            <option value="md">Maryland</option>
            <option value="ma">Massachusetts</option>
            <option value="mi">Michigan</option>
            <option value="mn">Minnesota</option>
            <option value="ms">Mississippi</option>
            <option value="mo">Missouri</option>
            <option value="mt">Montana</option>
            <option value="ne">Nebraska</option>
            <option value="nh">New Hampshire</option>
            <option value="nj">New Jersey</option>
            <option value="nm">New Mexico</option>
            <option value="ny">New York</option>
            <option value="nc">North Carolina</option>
            <option value="nd">North Dakota</option>
            <option value="oh">Ohio</option>
            <option value="ok">Oklahoma</option>
            <option value="or">Oregon</option>
            <option value="pa">Pennsylvania</option>
            <option value="ri">Rhode Island</option>
            <option value="sc">South Carolina</option>
            <option value="sd">South Dakota</option>
            <option value="tn">Tennessee</option>
            <option value="tx">Texas</option>
            <option value="ut">Utah</option>
            <option value="vt">Vermont</option>
            <option value="wa">Washington</option>
            <option value="wv">West Virginia</option>
            <option value="wi">Wisconsin</option>
            <option value="wy">Wyoming</option>
            <optgroup label="US Territories"></optgroup>
            <option value="as">American Samoa</option>
            <option value="gu">Guam</option>
            <option value="pr">Puerto Rico</option>
            <option value="vi">Virgin Islands</option>
          </select>
        </div>
        <div class="col-md-35">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" class="form-control" name="zipcode" id="inputZip" placeholder="ZIP Code">
        </div>
           <div class="col-md-35">
          <label for="inputZip" class="form-label">Cuisine Speciality</label>
          <input type="text" class="form-control" name="speciality" id="inputZip" placeholder=" Taco restaurant">
        </div>
          <div class="col-md-3">
            <label for="inputZip" class="form-label">Features</label>
            <select name="features" multiple onchange="showSelectedOptions(this.options)">
                <option value="Accepts Credit Cards" >Accepts Credit Cards</option>
                <option value="Changing Tables" >Changing Tables</option>
                <option value="Delivery" >Delivery</option>
                <option value="Dogs Allowed" >Dogs Allowed</option>
                <option value="Family Restrooms" >Family Restrooms</option>
                <option value="Free Parking" >Free Parking</option>
                <option value="Free Wifi" >Free Wifi</option>
                <option value="Gender Neutral Restrooms" >Gender Neutral Restrooms</option>
                <option value="Good for Families" >Good for Families</option>
                <option value="Good for Large Groups" >Good for Groups</option>
                <option value="Kids Menu" >Kids Menu</option>
                <option value="Offers Alcohol" >Offers Alcohol</option>
                <option value="Outdoor Seating" >Outdoor Seating</option>
                <option value="No Smoking" >No Smoking</option>
                <option value="Reservations" >Reservations</option>
                <option value="Waitlist">Waitlist</option>
                <option value="Wheelchair Accessible" >Wheel Chair Accessible</option>
            </select>
            <div class="col-md-100">
                <label>Meals </label>
                <select name="service" multiple onchange="showSelectedOptions(this.options)">
                    <option value="breakfast">Breakfast</option>
                    <option value="brunch">Brunch</option>
                    <option value="lunch">Lunch</option>
                    <option value="dessert">Dessert</option>
                    <option value="late night">Late Night</option>

                </select>
            </div>
          </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary" id="restBtn">Submit</button>
        </div>
        

      </form>
   

      
       
      
         <%} else{%>
         
      
         <p class="mealsLogin"></p><%= user ? user.name : "friend" %>, login in below to a add your recommendation to the list!</p>
      
         <div class="loginAccount">
             <a id="google" class="googleAccount" href="/auth/google">
                <img height= 200 width= 200 id= "login" class= "googleAccount" src="https://i.imgur.com/pFhNdoN.png"></a>
      <%}%>
      </div>
      
    </div>




























        <!-- <form class="recipeForm" action="/restaurants" method="POST">
        <label>Name: </label><input type="text" name="name">
        <label>Website: </label><input type="url" name="url" placeholder="restaurant.com">
        <label>Address: </label><input type="text" name="address">

        <button type="submit">Submit</button>
        </form>
    
     -->
    
  









<%-include('../partials/footer')%>
<script>
    const showSelectedOptions = options => alert(
      [...options].filter(o => o.selected).map(o => o.value)
    )
   </script>

<script>
    $('.dropdown-toggle').dropdown()
</script>


</body>